.room{
    height:230px;
    background: #aaa;
}
.room h5{
    color:blue;
    text-transform: uppercase;
}
h6{
    color: orangered;
    line-height: 0.7;
}
.room .btn{
    background-color: white;
    line-height: 1.0;
    color: red;
}
.hall h4{
    text-align: center;
    margin-top: 20px;
}
.hall h5{
    color: blue;
}
.hall .btn{
    color: white;
    background-color: red;
    width: 150px;
    text-transform: uppercase;
}